@using BugTracker.Models.Enums;
@using BugTracker.Services.Interfaces;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

@inject IBTProjectService _projectService;
@inject UserManager<BTUser> _userManager;

<div class="container intro-y">
    <div class="d-flex mt-8 align-items-center">
        <span class="fs-lg fw-medium mt-3">@ViewBag.Heading</span>
        <span class="ms-5"><a asp-controller="Tickets" asp-action="Create" class="btn btn-rounded-primary mt-3">New Ticket</a></span>
    </div>
    <div class="grid columns-12 gap-6 mt-3">
        <table class="table table-report">
            <thead>
                <tr>
                    <th class="border-bottom-0 text-nowrap">Project</th>
                    <th class="border-bottom-0 text-nowrap">Title</th>
                    <th class="border-bottom-0 text-nowrap">Status</th>
                    <th class="border-bottom-0 text-nowrap">Submitter</th>
                    <th class="border-bottom-0 text-nowrap">Developer</th>
                    <th class="border-bottom-0 text-nowrap"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Ticket ticket in Model)
                {
                    <tr class="text-nowrap">
                        <td>@ticket.Project!.Name</td>
                        <td>@ticket.Title</td>
                        <td>@ticket.TicketStatus!.Name</td>
                        @{
                            BTUser? sub = ticket.SubmitterUser;
                        }
                        @if (sub is null)
                        {
                            <td>None</td>
                        }
                        else
                        {
                            <td>@sub.FullName</td>
                        }
                        @{
                            BTUser? dev = ticket.DeveloperUser;
                        }
                        @if (dev is null)
                        {
                            <td class="text-danger">Unassigned</td>
                        }
                        else
                        {
                            <td>@dev.FullName</td>
                        }
                        <td>
                            @{
                                BTUser? pm = await _projectService.GetProjectManagerAsync(ticket.Project.Id, ticket.Project.CompanyId);
                            }
                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-rounded-success me-1 mb-2">Details</a>
                            @if (User.IsInRole(nameof(BTRoles.Admin)) || (User.IsInRole(nameof(BTRoles.ProjectManager)) && pm is not null && pm.Id == _userManager.GetUserId(User)))
                            {
                                if(ticket.Archived)
                                {
                                    <a asp-controller="Tickets" asp-action="Restore" asp-route-id="@ticket.Id" class="btn btn-rounded-dark me-1 mb-2">Restore</a>
                                }
                                else
                                {
                                    <a asp-controller="Tickets" asp-action="Archive" asp-route-id="@ticket.Id" class="btn btn-rounded-danger me-1 mb-2">Archive</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
