@using BugTracker.Models.ViewModel;

@model IEnumerable<ManageUserRolesViewModel>

<div class="row">
    <div class="mt-5 fs-lg fw-medium"><b>Manage Member Roles </b></div>
    <div class="row g-3">
        @foreach (var viewModel in Model)
        {
            <div class="col-3">
                <div class="box p-3">
                    <div class="fs-lg fw-medium">@viewModel.User!.FullName</div>
                    <form asp-action="ManageUserRoles" asp-controller="Company" method="post">
                        <input type="hidden" asp-for="@viewModel.User.Id" />
                        <div class="form-group mt-3">
                            <label asp-for="@viewModel.Roles" class="custom-label"> Roles for @viewModel.User.FullName </label>
                            <select asp-for="@viewModel.SelectedRole" class="form-control tom-select" asp-items="@viewModel.Roles">
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Assign Role" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
